.news-content img {
    max-width: 100%;
}
.col-8 img {
    max-width: 70%;
}

.first_photo img {
    max-width: 70%;
}

.col-12 { 
    margin-right: 1%; /* Отступ справа */
    margin-left: 0%; /* Отступ слева */
}
