{% extends "base.html" %}

{% block title %}
{{ selection_of_apartments }}
{% endblock %}

{% block body %}
<h1>{{ apartments_ads }}</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>url</th>
        <th>date</th>
        <th>ads</th>
        <th>price</th>
        <th>square</th>
        <th>address</th>
        <th>number_of_rooms</th>
      </tr>
    </thead>
    <tbody>
      {% for el in real_ads %}
        <tr>
          <td>{{ el.id }}</td>
          <td>{{ el.title }}</td>
          <td>{{ el.url }}</td>
          <td>{{ el.date }}</td>
          <td>{{ el.ads }}</td>
          <td>{{ el.price }}</td>
          <td>{{ el.square }}</td>
          <td>{{ el.address }}</td>
          <td>{{ el.number_of_rooms }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

