{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8 news-content">
            <p align="left">
            <a href = {{ flat.url }}>{{ flat.url }}</a>
                <h1>Продается {{ flat.title }} </h1>
                <h2>Цена: {{ flat.price }} руб. </h2>
                <h3>Адрес: {{ flat.address }}</h3>
                <h4>Количество комнат -{{ flat.number_of_rooms }}</h4>
            </p>
        </div>
        <div class="col-3 photo-content">
            <img src={{ flat.photos }} class="img-thumbnail" alt="...">
        </div>
    </div>
{% endblock %}